/* Main chat container */
* {
	font-family: "Times New Roman", sans-serif;
}
body 			{ font-family:"Times New Roman",sans-serif;
           background-image: url('../img/background.jpg');
					 color: white;
  }
h1	{
		color: white;
	}

#chatContainer{
<<<<<<< HEAD
	width:610px;
=======
background-color: #EEEE;
padding: 12px;
	width:510px;
>>>>>>> 0c4682fdfce70ee0c2a2edb9f65e251a0f359486
	margin:100px auto;
	position:relative;

}


/* Top Bar */


#chatTopBar{
	height:40px;
	background-color:#2c9a42;
	border:2px solid #0f4d11;
	margin-bottom:15px;
	position:relative;

	color:#777;
	text-shadow:1px 1px 0 #cccccc;
}

#chatTopBar .name{
	position:absolute;
	top:10px;
	left:40px;
}

#chatTopBar img{
	left:9px;
	position:absolute;
	top:8px;
}


/* Chats */


#chatLineHolder{
	height:460px;
	width:450px;
	margin-bottom:20px;
}

.chat{
	background-color: #CACACA;
	/*background:url('../css/background.jpg');*/

	min-height:24px;
	padding:6px;
	border:1px solid #FFFFFF;

	padding:8px 6px 4px 37px;
	position:relative;
	margin:0 10px 10px 0;
}

.chat:last-child{
	margin-bottom:0;
}

.chat span{
	color:#EEE;
	text-shadow:1px 1px 0 #FFFFFF;
	font-size:14px;
}

.chat .text{
	color:#EEEE;
	display:inline-block;
	font-size:15px;
	overflow:hidden;
	vertical-align:top;
	width:290px;
}


.chat img{
	display:block;
	visibility:hidden;
}

.chat .time{
	position:absolute;
	right:10px;
	top:12px;
	font-size:11px;
}

.chat .author{
	margin-right:6px;
	font-size:11px;
}


/* Chat User Area */


#chatUsers{
	background-color:#2c9a42;
	border:1px solid #0f4d11;
	height:75%;
	position:absolute;
	right:0;
	top:56px;
	width:150px;
}

#chatUsers .user{
	float:left;
	height:32px;
	margin:10px 0 0 10px;
	width:32px;
}


/* Bottom Bar */


#chatBottomBar{
	background-color: #E5E5E5;
	position:relative;
	padding:10px;
	border:1px solid #fff;
}

#chatBottomBar .tip{
	position:absolute;
	width:0;
	height:0;
	border:10px solid transparent;
	border-bottom-color:#eeeeee;
	top:-20px;
	left:20px;
}

#chatContainer input{
	background-color: #cacaca;
	height:36px;
	font:15px/28px Trillium,Arial,sans-serif;
	color:#777;
	border:1px solid;
	border-color:#c1c1c1 #eee #eee #c1c1c1;
	text-shadow:1px 1px 0 #E4E4E4;
	padding:0 5px;
	margin-right:5px;
	width:485px;
	outline:none;
}


#submitForm{
	display:none;
}

input#chatText{
	/* The chat submit text field */
	width:485px;
}


/* Overloading the default styles of jScrollPane */


.jspVerticalBar{
	background:none;
	width:20px;
}

.jspTrack{
	background-color:#202020;
	border:1px solid #111111;
	width:3px;
	right:-10px;
}

.jspDrag {
	background:url('../img/slider.png') no-repeat;
	width:20px;
	left:-9px;
	height:20px !important;
	margin-top:-5px;
}

.jspDrag:hover{
	background-position:left bottom;
}


/* Additional styles */


a.logoutButton{
	background-color:#bbb;
	border:1px solid #eee !important;
	color:#FFFFFF !important;
	font-size:14px;
	padding:5px 9px;
	position:absolute;
	right:10px;
	text-shadow:1px 1px 0 #888;
	top:7px;

	-moz-box-shadow:0 0 7px #888 inset;
	-webkit-box-shadow:0 0 7px #888 inset;
	box-shadow:0 0 7px #888 inset;
}

a.logoutButton:hover{
	text-shadow:1px 1px 0 #888;

	-moz-box-shadow:0 0 7px #666 inset;
	-webkit-box-shadow:0 0 7px #666 inset;
	box-shadow:0 0 7px #666 inset;
}

#chatContainer .blueButton{
	background:url('../img/button_blue.png') no-repeat;
	border:none !important;
	color:#516D7F !important;
	display:inline-block;
	font-size:15px;
	height:29px;
	text-align:center;
	text-shadow:1px 1px 0 rgba(255, 255, 255, 0.4);
	width:75px;
	margin:0;
	cursor:pointer;
}

#chatContainer .blueButton:hover{
	background-position:left bottom;
}

p.noChats,
#chatUsers .count{
	clear:both;
	font-size:14px;
	padding:10px;
	text-align:center;
	text-shadow:1px 1px 0 #111111;
}

#chatUsers .count{
	font-size:11px;
}

.rounded{
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
}

#chatErrorMessage{

	width:100%;
	top:0;
	left:0;
	position:fixed;
	background-color:#ab0909;
	border-bottom:1px solid #d32a2a;
	font-size:25px;
	padding:16px;
	text-align:center;
	color:#fff;

	text-shadow:1px 1px 0 #940f0f;
}


#footer{
	text-align: right;
  width:90%;
	height:50px;
	position:absolute;
	bottom:0;
	left:0;
  padding:20px;
}
