/* CSS Document */

*				{margin:0px; padding:0px; border:0px; }

body 			{ font-family:Arial; }

#wrapper 		{ width:900px; margin:0px auto; padding:30px;  }

#name 			{ width:150px; float:left; margin-bottom:30px;	}

#topnav 		{ width:700px; float:right; margin-bottom:50px; margin-right:30px;	}
#topnav ul 		{ text-align:right; 		}
#topnav ul li 	{ display:inline; margin-left:5px; }
#topnav a 		{ font-size:15px; font-weight:bold; text-decoration:none; }
#topnav a:link 	{ color:#000; }
#topnav a:hover	{ color:#777; }

#content 		{ width:900px; float:left;	}
#content h1 	{ font-size:32px; margin: 0 0 15px 0;}